# IDE configuration files
.idea
.spyder*
.ropeproject
.vscode
# Python generates numerous files when byte compiling / installing packages
*.pyx
*.pyc
*.pyo
*.egg-info

# Documentation builds
doc/_build
doc/**/*.spy

# Running pyomo / tests / solvers occasionally leaves extra files
TEST-pysp.xml
*.out
gurobi.log

# Results from nosetests --with-coverage
.coverage
*.cover

# Jupyterhub/Jupyterlab checkpoints
.ipynb_checkpoints
